/*------------IMPORT---------------*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap");
/*------------DEBUG---------------*/
[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}
/*------------GLOBAL RULE---------------*/

:root {
  --black: black;
  --blue: #566d98;
  --white: white;
  --grey: grey;
}

body {
  font-family: "Space Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: black;
  text-decoration: none;
}

/*------------NAVIGATION---------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: "Space Mono", monospace;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-items {
  margin-right: 20px;
}

.cart-items {
  position: relative;
  display: flex;
}

.count {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 50%;
}
/*-----------------HERO------------------*/
.hero {
  display: flex;
  align-items: center;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1433788273174-662fea56182b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  color: var(--white);
  font-size: 4rem;
  margin-left: 5%;
}
/*----------------------BANDEAU 1----------------*/
.products {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.products a {
  color: var(--white);
}

.head2 {
  background-color: #566d98;
  transform: rotate(-5deg);
}

.button {
  margin-right: 1rem;
}

.far.fa-caret-square-right {
  color: #566d98;
}

/*-------------------Products-----------------*/

.selection {
  display: flex;
  overflow-x: scroll;
}

.imageContainer {
  height: 400px;
  width: 400px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsOne {
  margin: 1.5rem 1rem;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

p.discover {
  display: flex;
  justify-content: center;
}

.productsOne a {
  border-bottom: 0.2rem solid var(--blue);
}
